<!DOCTYPE html>
<html>
<head>
  <title>Formpage</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body bgcolor="gray">
<table border="2" height="30" width="800">
<tr>
<td bgcolor="green" width="200">
<h2>Home<h2>
</td>
<td bgcolor="green" width="200">
<h2>About us<h2>
</td>
<td bgcolor="green" width="200">
<h2>Careers<h2>
</td>
<td bgcolor="green" width="200">
<h2>Contact us<h2>
</td>
</table>

<%= yield %>


<table border="2" height="30" width="800">
<tr>
<td bgcolor="green" width="200">
<h2>sitemap<h2>
</td>
<td bgcolor="green" width="200">
<h2>address<h2>
</td>
<td bgcolor="green" width="200">
<h2>resources<h2>
</td>
<td bgcolor="green" width="200">
<h2>googlemaps<h2>
</td>
</table>
